# ---------------------------
# Environment / Editor files
# ---------------------------
.vscode/*
!.vscode/settings.json
.env

# ---------------------------
# Python cache / artifacts
# ---------------------------
__pycache__/
*.py[cod]

# ---------------------------
# Virtual environments
# ---------------------------
.venv/
venv/
env/

# ---------------------------
# OS / Misc
# ---------------------------
.DS_Store
Thumbs.db
